<header class="tour-header" style="background: url('./../../img/tours/<%=tour.imageCover%>') center center no-repeat; background-size: stretch;">
  <div class="hero text-light py-7">
    <div class="container-sm">
      <div class="col-sm-12">
        <div class="text-container text-center py-4 d-flex flex-column justify-content-center">
          <h3 class="tour-name d-inline-block display-3 fw-semibold text-center bg-dark px-2"><%=tour.name%></h3>
            <ul class="d-flex list-unstyled bg-dark justify-content-center py-1 pt-2" >        
              <li class="mb-1">
                <i class="fa-solid fa-location-dot"></i> &nbsp <%=
                tour.startLocation.description %>
              </li>
              <li class="mb-1 ms-4">
                <i class="fas fa-clock"></i> &nbsp <%= tour.duration %> days
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- INFO SECTION -->
<section class="tour-highlight bg-light pb-1 pt-5">
  <div class="container-lg">
   <!-- <div class="d-flex gap-8"> -->
     <div class="row">
    <div class="col-lg-5 me-auto">
        <h5 class="text-uppercase fw-bold text-primary mb-3">QUICK FACTS</h5>
        <ul class="list-unstyled mb-5">
          <li class="d-flex mb-1">
            <i class="fa-regular fa-calendar align-self-center "></i>
            <div class="text-uppercase fw-semibold  align-self-center px-2">next date</div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.startDates[0].toLocaleDateString('en-US',{month:'long',day:'numeric', year:'numeric'})%></div>
          </li>
          <li class="d-flex mb-1">
            <i class="fa-regular fa-calendar align-self-center "></i>
            <div class="text-uppercase fw-semibold align-self-center px-2">next date</div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.startDates[1].toLocaleDateString('en-US',{month:'long',day:'numeric', year:'numeric'})%></div>
          </li>
          <li class="d-flex mb-1">
            <i class="fa-solid fa-chart-simple align-self-center "></i>
            <div class="text-uppercase fw-semibold align-self-center px-2">difficulty</div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.difficulty%></div>
          </li>
          <li class="d-flex mb-1">
            <i class="fa-regular fa-user align-self-center "></i>
            <div class="text-uppercase fw-semibold align-self-center px-2">participants</div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.maxGroupSize%></div>
          </li>
          <li class="d-flex mb-1">
            <i class="fa-regular fa-star align-self-center "></i>
            <div class="text-uppercase fw-semibold align-self-center px-2">rating</div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.ratingsAverage%>/5</div>
          </li>
        </ul>      
      </div>
    <div class="col-lg-6">
      <div class="pb-5">
        <h5 class="text-uppercase fw-bold text-primary mb-3">about <%=tour.name%></h5>
        <p class="text"><%=tour.description%></p>
       </div>
       </div>
  </div>
  <div class="row">
    <div class="col-md-5">

      <div class="tour-guides pb-5">
        <h5 class="text-uppercase fw-bold text-primary mb-3 text-uppercase">your tour guides</h5>
        <ul class="list-unstyled">
          <li class="d-flex mb-1 ">
            <img src="<%=tour.guides[0].photo.startsWith('/img/') ? '' : '/img/users/' %><%=tour.guides[0].photo%>" alt="<%=tour.guides[0].name%>" class="rounded-circle img-tour-guide" />
            <div class="text-uppercase fw-semibold  align-self-center px-2"><%=tour.guides[0].role%></div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.guides[0].name%></div>
          </li>
          <li class="d-flex mb-1 ">
            <img src="<%=tour.guides[1].photo.startsWith('/img/') ? '' : '/img/users/' %><%=tour.guides[1].photo%>" alt="<%=tour.guides[1].name%>" class="rounded-circle img-tour-guide" />
            <div class="text-uppercase fw-semibold  align-self-center px-2"><%=tour.guides[1].role%></div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.guides[1].name%></div>
          </li> <%if (tour.guides[2]){%>
          <li class="d-flex mb-1 ">
            <img src="<%=tour.guides[2].photo.startsWith('/img/') ? '' : '/img/users/' %><%=tour.guides[2].photo%>" alt="<%=tour.guides[2].name%>" class="rounded-circle img-tour-guide" />
            <div class="text-uppercase fw-semibold  align-self-center px-2"><%=tour.guides[2].role%></div>
            <div class="justify-content-end ms-auto align-self-center px-2"><%=tour.guides[2].name%></div>
          </li>
        <%};%>
        </ul>      </div>
      </div>
    </div>
    </div>
</section>

<!-- PHOTO SECTION -->
<section class="tour-highlight bg-light pb-5">
    
    <div class="container-lg">
          <div class="row">
            <div class="col-sm-4 px-0">
              <img src="<%=tour.images[0].startsWith('/img/tours/')?'':'/img/tours/'%><%=tour.images[0]%>" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4 px-0">
              <img src="<%=tour.images[1].startsWith('/img/tours/')?'':'/img/tours/'%><%=tour.images[1]%>" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4 px-0">
              <img src="<%=tour.images[2].startsWith('/img/tours/')?'':'/img/tours/'%><%=tour.images[2]%>" alt="" class="img-fluid">
            </div>
          </div>
        </div>
    </div>
  </section>

<!-- MAP SECTION -->
<section class="tour-highlight bg-light pb-5">
<div id="map" data-locations='<%=JSON.stringify(tour.locations)%>'>
</div>
</section>
<!-- REVIEW SECTION -->
<section class="tour-highlight bg-primary py-5">
  <div class="container-lg">
    <div class="row">
    <%for(let num=0;num<tour.reviews.length;num++){%>
      <div class="col-md-4 my-1">
      <div class="card p-4">

        <div class=" d-flex name-pics my-2">
          <img src="<%=tour.reviews[num].user.photo.startsWith('/img/') ? '' : '/img/users/' %><%=tour.reviews[num].user.photo%>" alt="<%=tour.reviews[num].user.name%>" class="rounded-circle img-tour-guide" />
          <p class="align-self-center mb-0 ps-2 fw-bold"><%=tour.reviews[num].user.name%></p>
        </div>
        <p class="fst-italic"><%=tour.reviews[num].review%></p>
        <div class="stars">
          <%let i=5, n=0;%>
          <%if(tour.reviews[num].rating){%>
            <%for(n;n<tour.reviews[num].rating;n++){%>
              <i class="fa-regular fa-star fa-2x stars"></i>   
              <%};%>
              <%};%>
              <%i=i-n;%>
              <%if(i>0){%>
                <%for(i;i>0;i--){%>
                  <i class="fa-regular fa-star fa-2x understar"></i>
                  <%}}%>
                </div>
              </div>
            </div>
            <%}%>
            </div>
          </div>
</section>

<!--     <svg
class="frame-decoration"
data-name="Layer 2"
xmlns="http://www.w3.org/2000/svg"
preserveAspectRatio="none"
viewBox="0 0 1920 192.275"
>
<defs>
</defs>
<title>frame-decoration</title>
<path
class="cls-1 cls-2"
d="M1920 195 L0 50 L0 500 Z"
/>
</svg> -->