<header class="tour-header" style="background: url('./../../img/tours/<%=tour.imageCover%>') center center no-repeat; background-size: stretch;">
  <div class="hero text-light py-7">
    <div class="container-sm">
      <div class="col-sm-12">
        <div class="text-container text-center py-4 d-flex flex-column justify-content-center">
          <h3 class="tour-name d-inline-block display-3 fw-semibold text-center bg-dark px-2"><%=tour.name%></h3>
            <ul class="d-flex list-unstyled bg-dark justify-content-center py-1 pt-2" >        
              <li class="mb-1">
                <i class="fa-solid fa-location-dot"></i> &nbsp <%=
                tour.startLocation.description %>
              </li>
              <li class="mb-1 ms-4">
                <i class="fas fa-clock"></i> &nbsp <%= tour.duration %> days
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <svg
  class="frame-decoration"
  data-name="Layer 2"
  xmlns="http://www.w3.org/2000/svg"
  preserveAspectRatio="none"
  viewBox="0 0 1920 192.275"
>
  <defs>
    <!-- <style>
      .cls-1 {
        fill: #f3f6f9;
      </style> -->
  </defs>
  <title>frame-decoration</title>
  <path
    class="cls-1"
    d="M1920 195 L0 50 L0 500 Z"
  />
</svg>

  </div>
  
</header>

<section class="tour-highlight bg-light py-7">
  <div class="container-lg">
   <div class="d-flex">
    <div class="row">
      <div class="text-dark">
        <h6 class="text-uppercase">QUICK FACTS</h6>
        <ul class="list-unstyled">
          <li><i class="fa-regular fa-calendar"></i>&nbsp<%=tour.startDates[0].toLocaleDateString('en-US',{month:'long',day:'numeric', year:'numeric'})%></li>
        </ul>      
      </div>
      <p class="text">hi</p>
    </div>
    <div class="row">
      <p class="text">hi</p>
    </div>
   </div>
  </div>
</section>